:root {
    --background-color: #090e13;
    --text-color-light: rgb(219, 228, 241);
    --secondary-bg: #1B7A9E;
    --primary-color: #01435C;
    --secondary-color: #758B93;
    --text-color-dark: #00151D;
    --portfolio-border: #310069;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Calibri, sans-serif;
}

header {
    height: 89px;
}

nav {
    background-color: var(--background-color);
    width: 100%;
    font-family: 'Trebuchet MS', sans-serif;
    border-bottom: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, purple, blue, rgb(255, 0, 0));
    position: fixed;
    top: 0 ;
    z-index: 1;
}               

nav ul {
    margin-right: 5%;
}

#nav-name {
    float: left;
    list-style-type: none;
    text-shadow: 5px 5px 5px rgb(75, 138, 255);
    font-size: 36px;
    font-weight: bold;
    padding: 20px 10px 20px 30px;
}


/* below nav links positions are current view setting for 2560px width screen */
#top {
    position: absolute;
    top:0;
}

#bio {
    position: absolute;
    top: 200px;
}

#portfolio {
    position: absolute;
    top: 550px;
}

#contact {
    position: absolute;
    top: 1870px;
}

#resume {
    position: absolute;
    top: 1920px;
}
/* above nav links positions are current view setting for 2560px width screen */


.nav-links {
    display: inline-block;
    list-style: none;
    padding: 28px 15px 0px 15px;
    font-size: 24px;
}

nav li {
    float: right;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: var(--text-color-light);
    font-family: 'Trebuchet MS', sans-serif;
    /* padding: 10px; */
}

nav ul::after {
    content: "";
    display: block;
    clear: both;
}

body {
    background-color: var(--background-color)
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, purple, blue, rgb(255, 0, 0));
}

.banner-quote {
    position: absolute;
    top:50%;
    right: 2%;
    
}

.banner-quote h3 {
    color: var(--text-color-light);
    background: linear-gradient(120deg, rgba(255, 3, 3, 0.301), var(--primary-color));
    border-radius: 5px;
    text-shadow: 2px 2px 3px darkgray;
    display: flex;
    width: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 5px;
}

.bio {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 1%;
}

.title-bio {
    border-right: 4px solid var(--text-color-light);
    text-align: right;
    padding-right: 20px;
    color: var(--text-color-light);
    padding-top: 1%;
    width: 20%;
    word-wrap:break-word;
    font-size: 200%;
    /* below code is for putting a border on right that stops in middle instead of the whole right side */
    /* border-right-width: 5px; */
    /* border-image: linear-gradient(180deg, var(--secondary-bg-darker)20%, var(--text-color-light) 20%) 1 100%; */
}

.content-bio{
    margin: 1% 5% 1% 2%;
    width: 65vw;
    color: var(--text-color-light);
    font-family: 'Trebuchet MS', sans-serif;
}

.portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 2%;
    color: var(--text-color-light);
    /* position: relative; */
}

.title-port {
    width: 20%;
    border-right: 4px solid var(--text-color-light);
    text-align: right;
    padding-right: 20px;
    padding-top: 1%;
    font-size: 200%;
    word-wrap: break-word;
}

.port-content-whole {
    display: flex;
    flex-flow: row wrap;
    width: 65vw;
    margin: 1% 5% 1% 2%;
}

.content-port1, .content-port2, .content-port3, .content-port4, .content-port5, .content-port6 {
    border: 3px solid var(--portfolio-border);
}

#hidden {
    display:none;
}

#initial-display {
    opacity: 0.3;
}
.content-port1 {
    flex: 1 0 100%;
    margin-right: 1%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content-port1 img {
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: left top;
}

.content-port1 h3 {
    position: absolute;
    bottom: 20%;
    right: 0;
    background-color: var(--portfolio-border);
    padding: 5px 5% 5px 15px;
    font-family: 'Trebuchet MS', sans-serif;
}

.content-port1 p {
    position: absolute;
    bottom: 13%;
    right: 0%;
    background-color: var(--portfolio-border);
    padding: 5px 5% 5px 15px;
    font-size: 16px;
    font-family: 'Trebuchet MS', sans-serif;
}


.content-port2, .content-port3 {
    flex: 1 0 32%;
    height: 300px;
    margin-top: 2%;
    margin-right: 2%
}

.content-port2, .content-port3, .content-port4 {
    position: relative;
    display: flex;
    flex-direction: column;;
}

.content-port2 img, .content-port3 img, .content-port4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}

.content-port2 a, .content-port3 a, .content-port4 a, .content-port5 a, .content-port6 a {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}

.content-port2 h3, .content-port3 h3, .content-port4 h3 {
    position: absolute;
    bottom: 20%;
    left: 0;
    padding: 5px 15px 5px 5%;
    background-color: var(--portfolio-border);3
    font-family: 'Trebuchet MS', sans-serif;
}

.content-port2 p, .content-port3 p, .content-port4 p {
    position: absolute;
    bottom: 8%;
    left: 0;
    padding: 5px 15px 5px 5%;
    background-color: var(--portfolio-border);
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
}


.content-port4 {
    flex: 1 0 32%;
    height: 300px;
    margin-top: 2%;
}

.content-port4 img {
    /* This is for placeholder for now */
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.content-port5 {
    flex: 1 0 30%;
    height: 300px;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.content-port6 {
    flex: 1 0 30%;
    height: 300px;
    margin-top: 2%;
    margin-bottom: 1%;
}

.content-port5, .content-port6 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.content-port5 img, .content-port6 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left top;
}

.content-port5 h3, .content-port6 h3 {
    position: absolute;
    bottom: 20%;
    left: 0;
    padding: 5px 15px 5px 5%;
    background-color: var(--portfolio-border);3
    font-family: 'Trebuchet MS', sans-serif;
}

.content-port5 p, .content-port6 p {
    position: absolute;
    bottom: 8%;
    left: 0;
    padding: 5px 15px 5px 5%;
    background-color: var(--portfolio-border);
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.content-port1:hover img#hidden,
.content-port2:hover img#hidden, 
.content-port3:hover img#hidden, 
.content-port4:hover img#hidden,
.content-port5:hover img#hidden,
.content-port6:hover img#hidden {
    display: flex;
}

.content-port1:hover img#initial-display,
.content-port2:hover img#initial-display,
.content-port3:hover img#initial-display,
.content-port4:hover img#initial-display,
.content-port5:hover img#initial-display,
.content-port6:hover img#initial-display {
    display: none;
}
.content-port1:hover,
.content-port2:hover,
.content-port3:hover,
.content-port4:hover,
.content-port5:hover,
.content-port6:hover {
    box-shadow: 0 0 20px var(--portfolio-border);
    border: 3px solid rgb(127, 72, 199);
}


.contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 2%;
    color: var(--text-color-light);
    
    /* position: relative; */
}

.title-contact {
    width: 20%;
    border-right: 4px solid var(--text-color-light);
    text-align: right;
    padding-right: 20px;
    padding-top: 1%;
    font-size: 200%;
    word-wrap: break-word;
}

.contact-content {
    display: flex;
    flex-flow: row wrap;
    width: 65vw;
    margin: 1% 5% 1% 2%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.contact-content a {
    flex: 1 0 0;
    margin: auto;
    padding: 10px;
    font-size: 24px;
    color: var(--text-color-light);
    font-family: 'Trebuchet MS', sans-serif;
}

.resume {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 2%;
    color: var(--text-color-light);
    /* position: relative; */
}

.title-resume {
    width: 20%;
    border-right: 4px solid var(--text-color-light);
    text-align: right;
    padding-right: 20px;
    padding-top: 1%;
    font-size: 200%;
    word-wrap: break-word;
}

.resume-content {
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: 1% 5% 1% 2%;
    height: auto;
    
    /* justify-content: space-around; */
    /* align-items: flex-start; */
    /* border: 2px solid white; */
}

.year {
    display:flex;
    
}

.year h3 {
    border-right: 3px solid var(--secondary-bg);
    margin: 0px 10px 0px 30px;
    width: 10%;
    font-size: 120%;
    padding-right: 20px;
    text-align: right;
    font-family: 'Trebuchet MS', sans-serif;
}
    
.year p {
    margin: 0px 0px 0px 10px;
    padding-top: 5px; 
    font-family: 'Trebuchet MS', sans-serif;
    
}

#current h3, #school-grad h3 {
    padding-bottom: 2%;
}

#current img, #school-grad img, #current2 img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
    border: 3px solid var(--secondary-bg)
}

#current p, #school-grad p, #current2 p {
    display: flex;
    align-items: top;
    padding-bottom: 1%;
    flex: 1 0 0;
}

#current ul, #current2 ul {
    /* margin-left: 30px; */
    /* margin-top: 5px; */
    padding-left: 30px;
    list-style-type: square;
    height: 100px;
    flex: 2 0 0;
    display: flex;
    flex-flow: row wrap;
}

#current li, #current2 li {
    padding-right: 15px;
    margin-left: 20px;
}

#current2 p, #current2 ul {
    border-top: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, purple, blue, rgb(255, 0, 0), purple);
    padding-top: 10px;
}

#previous-end h3, #previous-start h3 {
    border-right: 3px solid var(--primary-color);
}

#previous-end p {
    display: flex;
    align-items: top;
    padding-bottom: 1%;
    border-top: 3px dotted var(--secondary-color)
}

#previous-end img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
    border: 3px solid var(--primary-color)
}

#previous-end h3 {
    padding-bottom: 2%;
}

#previous-start h3 {
    padding-top: 2%;
    padding-bottom: 1%;
}

#previous-end2 h3{
    padding-bottom: 5%;
    border-right: 3px solid var(--portfolio-border);
}

#previous-end2 p {
    display: flex;
    align-items: top;
    padding-bottom: 1%;
    border-top: 3px dotted var(--secondary-color);
    text-wrap: wrap;
}

#previous-end2 img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
    border: 3px solid var(--portfolio-border)
}

 

#previous-start2 h3 {
    padding-bottom: 1%;
    border-right: 3px solid var(--portfolio-border)
}

.collapsible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65vw;
}

#break {
    color: var(--secondary-color);
    background: linear-gradient(to bottom, var(--background-color)70%, rgba(149, 6, 245, 0.397));
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS',  sans-serif;
}

.hidden-content {
    display: none;
    /* height: auto; */
}

.collapsible:hover .hidden-content {
    display: flex;
    flex-direction: column;
    width: 65vw;
    padding-top: 1%;
}

#previous-end3 p {
    display: flex;
    align-items: top;
    padding-bottom: 1%;
    border-top: 3px dotted var(--secondary-color)
}

#previous-end3 img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
    opacity: 0.7;
    border: 3px solid rgba(0, 0, 59, 1);
}

#previous-start3 h3 {
    padding-bottom: 1%;
    border-right: 3px solid rgba(0, 0, 59, 1);
}

#previous-end3 h3 {
    padding-bottom: 2%;
    padding-top: 1%;
    border-right: 3px solid rgba(0, 0, 59, 1);
}

.break-professional, .break-education {
    font-size: 24px;
    font-family: 'Trebuchet MS', sans-serif;
    padding:2% 2% 1% 13%;
    border-bottom: 2px solid var(--secondary-color);
    margin-bottom: 1%;
}

/* .break-education {
    font-size: 24px;
    font-family: 'Trebuchet MS', sans-serif;
    padding:2% 2% 1% 13%;
    border-bottom: 2px solid var(--secondary-color);
    margin-bottom: 1%;
} */



footer {
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5% 0;
}

footer h3 {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(119, 0, 255);
}


@media screen and (max-width: 1920px) {

    #top {
        position: absolute;
        top:0;
    }

    #bio {
        position: absolute;
        top: 200px;
    }

    #portfolio {
        position: absolute;
        top: 580px;
    }

    #contact {
        position: absolute;
        top: 1840px;
    }

    #resume {
        position: absolute;
        top: 2020px;
    }

}

@media screen and (max-width: 1320px) {

    #current h3 {
        font-size: 15px;
    }

    .contact-content a {
        font-size: 18px;
    }

    
    #top {
        position: absolute;
        top:0;
    }

    #bio {
        position: absolute;
        top: 200px;
    }

    #portfolio {
        position: absolute;
        top: 670px;
    }

    #contact {
        position: absolute;
        top: 1875px;
    }

    #resume {
        position: absolute;
        top: 2030px;
    }

}

@media screen and (max-width: 1019px) {

    .contact-content {
        display: flex;
        flex-direction: column;
        text-align: left;    
    }

    .contact-content a {
        float: right;
    }

    #top {
        position: absolute;
        top:0;
    }

    #bio {
        position: absolute;
        top: 200px;
    }

    #portfolio {
        position: absolute;
        top: 770px;
    }

    #contact {
        position: absolute;
        top: 1955px;
    }

    #resume {
        position: absolute;
        top: 2090px;
    }

}

@media screen and (max-width: 900px) {

    #top {
        position: absolute;
        top:0;
    }

    #bio {
        position: absolute;
        top: 200px;
    }

    #portfolio {
        position: absolute;
        top: 840px;
    }

    #contact {
        position: absolute;
        top: 2015px;
    }

    #resume {
        position: absolute;
        top: 2150px;
    }


    #current ul li {
        font-size: 14px;
        /* height: 10px; */
        /* padding-left: 20px; */
        position: relative;
        bottom: 30px;
    }

    #current ul {
        padding-left: 70px;
        width: 100%;
        padding-bottom: 10px;
    }

    #current h3, #current2 h3 {
        margin-left: 10px;
        margin-right: 0;
        font-size: 20px;
        /* padding-right: 10px; */
    }

    #current {
        display: flex;
        flex-direction: column;
    }

    .year#current h3 {
        border-bottom: 2px solid var(--secondary-bg);
        border-right: none;
        width: 100%;
        text-align: left;
    }

    #current2 h3 {
        display: none;
    }

    #current2 {
        display: flex;
        flex-direction: column;
        /* border-image: none; */
    }

    #current2 ul {
        border:none;
        padding-left: 70px;
        font-size: 14px;
        
    }

    #current2 li {
        /* border: 1px solid white;
        list-style: none; */
        position: relative;
        bottom: 30px;

    }

    #previous-end h3, #previous-start h3, #previous-end2 h3, #previous-start2 h3,
    #previous-end3 h3, #previous-start3 h3, #school-grad h3 {
        margin-left: 10px;
        font-size: 15px;
    }

    #previous-end p, #previous-start p, #previous-end2 p, #previous-start2 p,
    #previous-end3 p, #previous-start3 p, #school-grad p {
        font-size: 14px;
    } 
    #break {
        font-size: 15px;
    }

    .break-professional, .break-education {
        padding-left: 0px;
        font-size: 20px;
    }

    
}

@media screen and (max-width: 708px) {

    nav ul li a {
        font-size: 15px;
    }

    #nav-name a {
        font-size: 80%;
    }

    .content-bio {
        font-size: 14px;
    }

    .bio h2, .portfolio h2, .contact h2, .resume h2  {
        font-size: 18px;
    }

    .contact-content a {
        font-size: 15px;
    }

    .title-bio, .title-port, .title-contact, .title-resume {
        border-right: 2px solid var(--text-color-light);
        text-align: right;
        padding-right: 10px;
        color: var(--text-color-light);
        padding-top: 1%;
        width: 15%;
        word-wrap:break-word;
        font-size: 200%;
    }

    #previous-end h3, #previous-start h3, #previous-end2 h3, #previous-start2 h3,
    #previous-end3 h3, #previous-start3 h3, #school-grad h3 {
        margin-left: 5px;
        font-size: 12px;
    }

    #previous-end p, #previous-start p, #previous-end2 p, #previous-start2 p,
    #previous-end3 p, #previous-start3 p {
        font-size: 14px;
    } 
    #break {
        font-size: 10px;
    }

    .break-professional, .break-education {
        padding-left: 0px;
        font-size: 16px;
    }

    #current2 li {
        /* border: 1px solid white;
        list-style: none; */
        position: relative;
        bottom: 20px;
    }
    
    #current ul li {
        position: relative;
        bottom: 10px;
    }

    #current p, #current2 p  {
        font-size: 14px;
    }

    #school-grad p {
        font-size: 12px;
    }

    
    .content-port1, .content-port2, .content-port3, .content-port4, .content-port5, .content-port6 {
        flex: 1 0 100%;
        margin-right: 1%;
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .content-port1 img, .content-port2 img, .content-port3 img {
        position: relative;
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: left top;
    }
    
    .content-port2 h3, .content-port3 h3, .content-port4 h3, .content-port5 h3, .content-port6 h3 {
        position: absolute;
        bottom: 20%;
        left: 0;
        background-color: var(--portfolio-border);
        padding: 5px 5% 5px 15px;
        font-family: 'Trebuchet MS', sans-serif;
    }
    
    .content-port2 p, .content-port3 p, .content-port4 p, .content-port5 p, .content-port6 p {
        position: absolute;
        bottom: 5%;
        left: 0%;
        background-color: var(--portfolio-border);
        padding: 5px 5% 5px 15px;
        font-size: 16px;
        font-family: 'Trebuchet MS', sans-serif;
    }

    .content-port2 img, .content-port3 img{
        height: 250px;
        object-position: left top;
    }

    .content-port1 h3 {
        position: absolute;
        font-size: 15px;
        /* left: 0; */
        background-color: none;
        right: 0;
        bottom: 25%;
    }

    .content-port4 img, .content-port5 img, .content-port6 img {
        position: relative;
        width: 100%;
        scale: 0.8;
        object-fit: cover;
        object-position: center;
    }
}

@media screen and (max-width: 430px) {

    nav ul {
        display: flex;
        flex-direction: column;
        margin-right: 0%;
    }

    .nav-links {
        font-size: 18px;
    }

    #top {
        position: absolute;
        top:0;
    }

    #bio {
        position: absolute;
        top: 200px;
    }

    #portfolio {
        position: absolute;
        top: 1100px;
    }

    #contact {
        position: absolute;
        top: 2970px;
    }

    #resume {
        position: absolute;
        top: 3200px;
    }


    #resume-small {
        position: absolute;
        right: 5%;
        bottom: 15%;
    }

    #contact-small {
        position: absolute;
        right: 5%;
        bottom: 50%;
    }

    #portfolio-small {
        position: absolute;
        right: 30%;
        bottom: 15%;
    }

    #about-me-small {
        position: absolute;
        right: 30%;
        bottom: 50%;
    }

    .banner img {
        width: 440px;
    }

    .content-bio{
        width: 375px;
        color: var(--text-color-light);
        font-family: 'Trebuchet MS', sans-serif;
        margin-right: 0;
        text-align: justify;
        line-height: 1.5;
    }

    .port-content-whole {
        width: 330px;
    }

    .bio, .portfolio, .contact, .resume {
        display: flex;
        flex-flow: column wrap;
        margin-left: 5%;
    }

    .bio h2, .portfolio h2, .contact h2, .resume h2  {
        border-right: none;
        border-bottom: 2px solid var(--secondary-color);
        width: 95%;
        text-align: center;
    }

    .content-port1 img, .content-port2 img, .content-port3 img, .content-port4 img, .content-port5 img, .content-port6 img {
        width: 365px;
    }

    .resume-content {
        width: 360px;
    }

    #current {
        position: relative;
    }
    #current ul {
        padding-left: 80px;
        bottom: 20%;
    }

    #current ul li {
        margin-bottom: 5px
    }

    #break {
        width: 380px;
    }

    #previous-end3, #previous-start3 {
        width: 340px;
    }

    #previous-end3 h3, #previous-start3 h3 {
        width: 36px;
    }
}

@media screen and (max-width: 390px) {

    body {
        width: 390px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin-right: 0%;
    }

    .nav-links {
        font-size: 18px;
    }

    #top {
        position: absolute;
        top:0;
    }

    #bio {
        position: absolute;
        top: 200px;
    }

    #portfolio {
        position: absolute;
        top: 1100px;
    }

    #contact {
        position: absolute;
        top: 2970px;
    }

    #resume {
        position: absolute;
        top: 3200px;
    }


    #resume-small {
        position: absolute;
        right: 5%;
        bottom: 15%;
    }

    #contact-small {
        position: absolute;
        right: 5%;
        bottom: 50%;
    }

    #portfolio-small {
        position: absolute;
        right: 30%;
        bottom: 15%;
    }

    #about-me-small {
        position: absolute;
        right: 30%;
        bottom: 50%;
    }

    .banner img {
        width: 390px;
    }

    .content-bio{
        width: 340px;
        color: var(--text-color-light);
        font-family: 'Trebuchet MS', sans-serif;
        margin-right: 0;
        text-align: justify;
        line-height: 1.5;
    }

    .port-content-whole {
        width: 330px;
    }

    .bio, .portfolio, .contact, .resume {
        display: flex;
        flex-flow: column wrap;
        margin-left: 5%;
    }

    .bio h2, .portfolio h2, .contact h2, .resume h2  {
        border-right: none;
        border-bottom: 2px solid var(--secondary-color);
        width: 95%;
        text-align: center;
    }

    .content-port1 img, .content-port2 img, .content-port3 img, .content-port4 img, .content-port5 img, .content-port6 img {
        width: 330px;
    }

    .resume-content {
        width: 330px;
    }

    #current {
        position: relative;
    }
    #current ul {
        padding-left: 80px;
        bottom: 20%;
    }

    #current ul li {
        margin-bottom: 5px
    }

    #break {
        width: 350px;
    }

    #previous-end3, #previous-start3 {
        width: 330px;
    }

    #previous-end3 h3, #previous-start3 h3 {
        width: 33px;
    }

    .contact-content {
        width: 330px;
    }
    .contact-content a {
       font-size: 12px;
    }
}               
